
.brand {
    	font-family: 'Black Ops One', cursive;
    	font-size:2.1em;
    	-webkit-transform: skew(-15deg);
    	-ms-transform: skew(-15deg);
    }

.container {
    background-color: #F1F1F1;

    }

.crUser {
    float: right;
    margin: 10px;
}
